
html {
    height: 100%;
}
.main__body{
    min-height: 100vh;
    width: 100%;
}
.footer__main{
    background-image: linear-gradient(to right, #031634,#031634,#036564);
    height: 10vh;
    align-items: center;
}
.text__foot{
  display: flex;
}
.foot__links{
  align-items: center;
}
.header__main{
    background-image: linear-gradient(to right, #031634,#031634,#036564);
    height: 20vh;
    min-height: 150px;
}
.car__parent{
  height: 70vh;
  background-color: #031634;
}
.car__img{
   max-height: 70vh;
    width: 100%;
    object-fit: contain;
  
}
.index__subtitle{
  color: white;
  position: absolute;
  top: 53vh;
  left:15vw ;
  background-color: #031634;
  border: #036564 solid 2px;
  border-radius: 7px;
  width: 160px;
  text-align: center;
}
.index__map{
  position: absolute;
  top: 59vh;
  left: 5px;
  width: 50vw;
  max-width: 500px;
  height: 30vh;
}
.mini__img{
    border: solid 2px black;
}
.mini__img:hover{
    transition: border-color 0.5s;
    border: solid 4px #036564; 
}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #031634;
    border: black solid 1px;
 
  }
  .contacto__list{
    display: flex;
    height: 68vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
    color: white;
  
  }
  .cover {
    padding: 0 1.5rem;
  }
  .bg__image{
    background-image: url('https://img.freepik.com/free-photo/agricultural-silos-building-exterior_146671-19102.jpg?w=1380&t=st=1661320340~exp=1661320940~hmac=7c183ef432c9a3654e3fad2a6aba1af4328d4190f410219e79bd47b0a6d1ccd7');
    height: 70vh;
  }
  .mask{
    background-color: rgba(0, 0, 0, 0.6)
  }
  .sobrenosotros__mask{
    height: 70vh;
    display: flex;
    flex-direction: column;
  }
  .sobrenosotros__text{
    color: rgb(167, 30, 30);
  }
  @media screen and (min-width: 1200px){
      .index__subtitle{
      left: 150px;
    }
  }
  @media screen and (max-width: 1200px){
    .car__img{
      height: 70vh;
    
  }
  @media screen and (max-width: 600px){
    .index__subtitle{
      left: 0;
    }
    .formulario{
      height: 80vh;
      justify-content: flex-end;
      overflow: scroll;
    }
  }
  }