@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.container {
  position: relative;
  text-align: center;
  color: white;
}

.footer__main {
  background-image: linear-gradient(to right, #031634, #031634, #036564);
  height: 10vh;
  align-items: center;
}

.text__foot {
  display: flex;
}

.foot__links {
  align-items: center;
}

.header__main {
  background-image: linear-gradient(to right, #031634, #031634, #036564);
  height: 20vh;
  min-height: 150px;
}

html {
  height: 100%;
  overflow-x: hidden;
}

.main__body {
  min-height: 100vh;
  width: 100%;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
  background-color: black;
}

.index__title {
  position: absolute;
  top: 0vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  text-decoration: none;
}

.index__title:hover {
  color: white;
}

.index__bg {
  background-color: black;
}

.title__img {
  width: 100vw;
  height: 25vh;
}

.index__nav {
  width: 100vw;
  top: 135px;
  position: absolute;
  height: 80%;
}

.index__nav a {
  color: white;
  text-decoration: none;
  height: 100%;
}

.index__links:hover {
  transform: scale(1.5, 1.5);
}

@media screen and (min-width: 1200px) {
  .index__nav {
    height: 86vh;
    max-height: 100%;
  }
  .index__row {
    margin-top: 60px;
  }
  .index__nav {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .index__nav {
    max-height: 100%;
  }
}
@media screen and (max-height: 675px) {
  .index__map {
    display: none;
  }
  .index__video {
    display: none;
  }
  .index__nav {
    height: 75vh;
    max-height: 100%;
  }
}
.mini__img {
  border: solid 2px black;
}

.mini__img:hover {
  transition: border-color 0.5s;
  border: solid 4px #036564;
}

.productos__text {
  color: black;
}

.cover {
  padding: 0 1.5rem;
}

.bg__image {
  background-image: url("https://img.freepik.com/free-photo/agricultural-silos-building-exterior_146671-19102.jpg?w=1380&t=st=1661320340~exp=1661320940~hmac=7c183ef432c9a3654e3fad2a6aba1af4328d4190f410219e79bd47b0a6d1ccd7");
  height: 70vh;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.sobrenosotros__mask {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

.sobrenosotros__text {
  color: white;
  font-family: "Poiret One", cursive, helvetica;
  font-weight: bolder;
}

.formulario {
  background-color: #031634;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  height: 70vh;
  position: relative;
  top: 0px;
}

.contacto__input {
  resize: none;
}

.contacto__data {
  text-align: center;
}

.contacto__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  list-style-type: none;
  color: white;
  height: 68vh;
}

@media screen and (max-height: 500px) {
  .formulario {
    top: 0px;
    height: 100%;
    justify-content: flex-end;
    overflow: scroll;
  }
}/*# sourceMappingURL=styles.css.map */